@media screen and (max-width:992px) {
  #home {
    min-height: 90vh;
    width: 100%;
  }
  section#service .bi{
    margin-left: 3rem;
  }
  .footer{
    padding: 2rem 0rem;
    text-align: center;
    
  }
    
}

@media screen and (max-width:778px) {
  #home h1{
    font-size: 2.8rem !important;
  }
  section#feature .container .row .main img {
    width: 250px;
  }
}
@media screen and (max-width:575px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #home h1{
    font-size: 2.5rem !important;
  }
  section#service .bi{
    margin-left: 8rem;
  }
  section#service p{
    width: 80%;
    margin-left: 4rem;
  }
  section#feature .container .row .main {
    margin-left: 4.5rem;
  }
}