@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&family=Poppins:wght@200;300;400;500;700&display=swap");
/* icon cdn  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* scrollbar  */
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: var(--primary-color);
}
::-webkit-scrollbar{
  width: .65rem;
}

:root{
  --primary-color: #e93b81;
  --secondary-color: rgba(83, 82, 82, 0.784);
}
.logo{
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
p{
  color: var(--secondary-color);
  font-size: 1rem;
}
h1{
  font-size: 4.125rem;
  font-weight: 700;
  line-height: 1.7;
  text-transform: capitalize;
}
h2{
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 1.7;
  text-transform: capitalize;
}
h3{
  font-size: 2.125rem;
  font-weight: 500;
  line-height: 1.7;
  text-transform: capitalize;
}
h4{
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.7;
  text-transform: capitalize;
}
h5{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.7;
  text-transform: capitalize;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none !important;
}

section{
  margin: 100px 0;
}

nav .navbar-toggler{
  border: none;
  outline: none;
}
nav .navbar-toggler:focus{
  box-shadow: none;
}
/* .navbar .navbar-brand {
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
} */
.navbar .navbar-nav .nav-link {
  text-transform: uppercase;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  color: var(--primary-color)!important;
}
.navbar{
  box-shadow: 0px 0px 1px rgb(79, 77, 77);
}

#home {
  background: linear-gradient(rgba(17, 36, 90, 0.8), rgba(17, 36, 90, 0.8)),
    url(../img/hero_img.jpg);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-top: 50px;
}


#home .para {
  font-size: 1.1rem;
  line-height: 1.8;
  color: whitesmoke;
}

/* service section  */
#service .icon{
  font-size: 3.5rem;
  color: var(--primary-color);
}

/* section feature  */
/* swipper css  */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* end swipper css  */





/* section courses  */
#courses .card-title a{
  color: black;
}
#courses .card-title a:hover{
  color: var(--primary-color);
}
#courses i{
  color: var(--primary-color);
}


/* section team  */

section#team img{
  width: 100%;
}
.social-link{
  margin-top: 1rem;
  color: var(--primary-color);

}

.social-link .bi{
  margin-left: 1rem;
  cursor: pointer;
}

/* section contact  */
section#contact form .form-control{
  border-radius: 0px;

}
section#contact form .form-control:focus{
 box-shadow: none;
 border-color: var(--primary-color);
}
section#contact form .form-select:focus{
 box-shadow: none;
 border-color: var(--primary-color);
}

section#contact form button{
  background-color: var(--primary-color);
  color: white;
  border: none;
}
section#contact form button:hover{
  background-color: var(--primary-color);
}


/* footer  */
footer{
  background-color: black;
  padding: 2rem;
}
footer h2{
  color: beige;
}
footer .logo .navbar-brand{
  color: white;
}
footer a{
  color: whitesmoke;
  transition: .2s ease-in;
}
footer a:hover{
  color: var(--primary-color);
}
footer span{
  color: aliceblue;
  padding-right: 8px;
}
footer h3{
  color: rgba(222, 239, 254, 0.837);
}
footer .social-link i{
  color: aliceblue;
  font-size: 25px;
  cursor: pointer;
  padding-right: 5px;
  transition: .3s ease;
}
footer .social-link i:hover{
  color: var(--primary-color);
}